*{
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
}

.cards-list {
    padding-top: 49px;
    padding-left: 37px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}